HTML{
    width: 100% !important;
    height: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    top:0 !important;
    left:0 !important;
    min-width: 100% !important;
    min-height: 100% !important;
    max-width: 100% !important;
    max-height:100% !important;
    overflow: hidden !important;
  }
  BODY:before {
    top:0 !important;
    left:0 !important;
  }
  BODY *.__hidden{
    display: none !important;
    visibility: hidden !important;
    z-index:-1 !important;
    position: static !important;
    max-width: 0 !important;
    max-height: 0 !important;
  }
  
  BODY *.__parent, BODY *.__target, BODY.__parent{
    top:0 !important;
    left:0 !important;
    clear: none !important;
    clip: auto !important;
    margin: 0 !important;
    width: 100% !important;
    min-width: 100% !important;
    min-height: 100% !important;
    max-width: 100% !important;
    max-height:100% !important;
    border-width:0 !important;
    visibility:visible !important;
    /*transform: none !important;*/
  }
  BODY *.__parent, BODY.__parent{
    overflow: hidden !important;
    opacity: 1 !important;
    padding: 0 !important;
    height: 100%!important;
    position: static!important;
    display: block!important;
    z-index:10!important;
    transform: none !important;
  }
  BODY *.__target{
    padding: 0!important; /*test*/
    position: absolute!important;
    z-index:2147483640!important;
    height: 100%;
    overflow: hidden!important;
    animation: target_anim 0.5s 1 ease-in-out;
  }
  .__target>IFRAME, .__target>OBJECT, .__target>EMBED{
    top:0 !important;
    left:0 !important;
    clear: none !important;
    clip: auto !important;
    min-width: 100% !important;
    min-height: 100% !important;
    width: 100% !important;
    height: 100% !important;
    visibility: visible !important;
  }
  BODY *.__target.__onScroll{
    overflow-y: auto!important;
  }
  
  @keyframes target_anim{
    from{
      filter: blur(5px);
    }to{
      filter:blur(0px);
    }
  }
